/* *************
BANNER DEFAULTS
**************** */
#container {
  position: absolute;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  overflow: hidden;
  width: $banner_width;
  height: $banner_height;
  background: $brand_color;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}
