{% extends "layout.nunjucks" %}

{% block config %}
<title></title>
<link rel="stylesheet" href="css/master.css">
{% endblock config %}

{% block controls %}
<div id="animationControls"></div>
{% endblock controls%}

{% block banner %}

<span class="guide--h"></span>
<span class="guide--v"></span>

<div id="ad">



</div>

{% endblock banner %}

{% block scripts %}




  <!-- Animation frameworks
    NOTE: includes all links specified in data/*.json -->
  {% for link in doubleclick.cdn %}
    <script src="{{link}}"></script>
  {% endfor %}

  <!-- Playback Controls Module -->
  <!-- build:js js/app/modules.js -->
  <script type="text/javascript" src="../js/app/modules.js"></script>
  <!-- endbuild -->

  <!-- Animation Scripts -->
  <!-- build:js js/app/animation.js -->
  <script src="../js/app/main.js"></script>
  <!-- endbuild -->

  <!-- Ad Platform Includes and clicktags
    NOTE: Choose the ad platform enabler here. -->
  <script src="{{doubleclick.enabler}}"></script>
  <!-- build:js js/behaviour.js -->
    <script type="text/javascript" src="../js/adplatform/behaviour.js"></script>
    <script type="text/javascript" src="../js/adplatform/doubleclick.js"></script>
  <!-- endbuild -->

{% endblock scripts %}
