/* *************
BANNER VARIABLES
**************** */

$banner_width: 300px;
$banner_height: 250px;
$banner_border: rgb(50, 50, 50) 1px solid;
$brand_color: #141824;
$banner_bg: #0e347f;
$frame_padding: 20px;

/* *************
CUSTOM STYLES
**************** */


@import 'utilities/utilities.pcss';
@import 'utilities/banner_defaults.pcss';

@define-mixin center {
  margin-left: 50%;
  transform: translate(-50%);
  img {
    position: absolute;
  }
}
