/* *************
RESETS
**************** */

body
  border 0
  outline 0
  padding 0
  margin 0
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-shadow 0 0 1px rgba(0,0,0,0.3)

/* *************
BANNER TEMPLATE
**************** */
banner_height = 300px
banner_width = 250px
banner_bg = #2c3e50

@import 'templates/doubleclick'
// @import 'templates/sizmek'

/* *************
CUSTOM STYLES
**************** */
