#ad
  display block
  border rgb(145, 153, 153) 1px solid
  overflow hidden
  cursor pointer
  user-select none
  width banner_width
  height banner_height

#banner
  position absolute
  display block
  width banner_width
  height banner_height
  background-color banner_bg
  overflow hidden
