body
  margin 0px

#ad
  display block
  border rgb(145, 153, 153) 1px solid
  overflow hidden
  cursor pointer
  user-select none
  width 298px
  height 598px

#banner
  position absolute
  display block
  width 298px
  height 598px
  background-color #FFF
  overflow hidden
